<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
      <Property name="filename">target/log/application.log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="File" fileName="${filename}">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <!-- After establishing application - change level to error, additivity - false -->
        <!--
        <Logger name="ua.salon.schedule.dao.booking.BookingDAO" level="info" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger> -->

        <!-- Root Logger -->
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>

</Configuration>